<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>We will be right back.</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>We're updating our website</p>
    </body>
</html>