<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Profolio</title>
    </head>
    <body>
        {{> header}}
        <p>Protfolio page here.</p>
        {{> footer}}
    </body>
</html>